<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>spring_thymeleaf</title>
</head>
<body>
<form method="post" th:object="${user}" enctype="multipart/form-data">
    <div class="errors" th:if="${#fields.hasErrors('*')}">
        <ul>
            <li th:each="err: ${#fields.errors('*')}"
                th:text="${err}">Input is incorrect
            </li>
        </ul>

    </div>
    <label th:class="${#fields.hasErrors('firstName')}?'error'">
        First Name</label>:
    <input type="text" th:field="*{firstName}"
           th:class="${#fields.hasErrors('firstName')}?'error'"/><br/>

    <label th:class="${#fields.hasErrors('lastName')}?'error'">
        Last Name</label>:
    <input type="text" th:field="*{lastName}"
           th:class="${#fields.hasErrors('lastName')}?'error'"/><br/>

    <label th:class="${#fields.hasErrors('username')}?'error'">
        username</label>:
    <input type="text" th:field="*{username}"
           th:class="${#fields.hasErrors('username')}?'error'"/><br/>

    <label th:class="${#fields.hasErrors('password')}?'error'">
        password</label>:
    <input type="password" th:field="*{password}"
           th:class="${#fields.hasErrors('password')}?'error'"/><br/>

    <input type="file" name="picture" accept="image/jpeg,image/png,image/gif"/></br>

    <input type="submit" value="register"/>

    <input id="remember_me" name="remember-me" type="checkbox"/>
    <label for="remember_me" class="inline">Remember me</label>
</form>
</body>
</html>